<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santy</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Sobre mi familia</h1>
        </header>
        <nav>
            <a class="titulo2" href="../index.html">Quien soy</a>
            <a class="titulo2" href="hobbies.html">Que me gusta hacer</a>
            <a class="titulo2" href="familia.html">Mi familia</a>
        </nav>
        
        <section>
			<h2>Familia</h2>
			<p>Mi familia es muy unida, somos cariñosos, tenemos la costumbre de tratar de vernos seguido ya que por los trabajos y estudios es un poco difícil de vernos, hemos hecho viajes familiares por ejemplo San Andrés, Coeñas, Barranquilla, y ya lo normal que son sitios como parques y restaurantes de la ciudad.</p>
            <div class="container">
            <img src="../assets/images/Familia.jpeg" alt="Mi familia">    
            </div>
            

		</section>
        <footer>
            <p>Página realizada por Santiago Gañan. &copy;Todos los derechos reservados 2024</p>
        </footer>   
    </main>
    
</body>
</html>