<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santy</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Sobre mis hobbies</h1>
        </header>
        <nav>
            <a class="titulo2" href="../index.html">Quien soy</a>
            <a class="titulo2" href="hobbies.html">Que me gusta hacer</a>
            <a class="titulo2" href="familia.html">Mi familia</a>
        </nav>
        
        <section>
			<h2>Que me gusta hacer</h2>
			<p>A mi desde el 2021 me interesó la idea de aprender a tocar instrumentos así que comencé por la quena un tipo de flauta andino, luego la guitarra clásica, tuve un tiempo viviendo en otro país donde aprendí a tocar rock en guitarra electrica, hice una presentación consiguiendo el cantante, el baterista, el bajista y yo la guitarra lider. Aparte de la música me gusta leer libros de espiritualidad, superación como lo son El poder del Ahora de Echkart Tolle, y Inquebrantables de Daniel Habif y mi comida favorita es la pizza.</p>
            <div class="container">
            <img src="../assets/images/Flauta.jpeg" alt="Flauta">
            <img src="../assets/images/Guitarra.jpeg" alt="Guitarra">    
            </div>
            

		</section>
        <footer>
            <p>Página realizada por Santiago Gañan. &copy;Todos los derechos reservados 2024</p>
        </footer>   
    </main>
    
</body>
</html>